.wrapper {
    width: 100%;
   
    
}
.wrapper:before{
    content:"";
    display: block;
    padding-top: 56.25%;
}
.content {
    position: absolute;
    top:10%;
    left: 10%;
    width: 80%;
    height: 80%;
    
}
.douga-title{
    text-align: center;
    font-weight: bold;
    padding: 100px 0 50px 0;
}